USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[EliminarRelacionPE]    Script Date: 31/10/2025 7:36:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[EliminarRelacionPE]
    @idEntregable INT, 
    @idproducto INT
AS
SET NOCOUNT ON;
BEGIN
    IF EXISTS (SELECT 1 FROM Producto_Entregable WHERE IdProducto = @idproducto AND IdEntregable = @idEntregable)
    BEGIN
        DELETE FROM Producto_Entregable
        WHERE IdProducto = @idproducto AND IdEntregable = @idEntregable;
    END
    ELSE
    BEGIN
        SELECT -1 AS Id, 'La relación entre los productos no existe' AS Mensaje;
        RETURN;
    END
END