USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[EliminarRelacionPP]    Script Date: 31/10/2025 7:36:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[EliminarRelacionPP]
    @idproyecto INT, 
    @idproducto INT
AS
SET NOCOUNT ON;
BEGIN
    IF EXISTS (SELECT 1 FROM Proyecto_Producto WHERE IdProducto = @idproducto AND IdProyecto = @idproyecto)
    BEGIN
        DELETE FROM Proyecto_Producto
        WHERE IdProducto = @idproducto AND IdProyecto = @idproyecto;
    END
    ELSE
    BEGIN
        SELECT -1 AS Id, 'La relación entre los productos no existe' AS Mensaje;
        RETURN;
    END
END