USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[SPActualizarPE]    Script Date: 31/10/2025 7:36:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[SPActualizarPE]
    @IdEntregable INT, 
    @IdProducto INT,
    @FechaAsociacion DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @existe INT;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Verificar si existe la relación
        SELECT @existe = COUNT(*) 
        FROM Producto_Entregable
        WHERE IdEntregable = @IdEntregable 
          AND IdProducto = @IdProducto;
        
        IF @existe = 0
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 0 AS Resultado, 'La relación Entregable-Producto no existe' AS Mensaje;
            RETURN;
        END
        
        -- Actualizar la fecha de asociación
        UPDATE Producto_Entregable
        SET FechaAsociacion = @FechaAsociacion
        WHERE IdEntregable = @IdEntregable 
          AND IdProducto = @IdProducto;
        
        COMMIT TRANSACTION;
        
        SELECT 1 AS Resultado, 
               'Relación Proyecto-Producto actualizada correctamente' AS Mensaje;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SELECT 0 AS Resultado, 
               'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END