USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[SpEstadoPGuardar]    Script Date: 31/10/2025 7:36:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[SpEstadoPGuardar]
    @IdProyecto INT,
    @IdEstado INT,
	@Codigo nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Verificar si ya existe un registro con ese proyecto
        IF EXISTS (SELECT 1 FROM Estado_Proyecto WHERE IdProyecto = @IdProyecto)
        BEGIN
            -- Actualizar el estado existente
            UPDATE Estado_Proyecto
            SET IdEstado = @IdEstado
            WHERE IdProyecto = @IdProyecto;

            COMMIT TRANSACTION;
            SELECT 'Estado del proyecto actualizado correctamente.' AS Mensaje, @IdProyecto AS IdProyecto;
        END
        ELSE
        BEGIN
            -- Insertar nuevo registro
            INSERT INTO Estado_Proyecto(IdProyecto, IdEstado)
            VALUES ((select Id from Proyecto where Codigo = @Codigo), @IdEstado);

            COMMIT TRANSACTION;
            SELECT 'Estado del proyecto insertado correctamente.' AS Mensaje, SCOPE_IDENTITY() AS Id;
        END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT 
            'Error: ' + ERROR_MESSAGE() AS Mensaje,
            -1 AS IdProyecto;
    END CATCH
END
