USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[SPInsertarPE]    Script Date: 31/10/2025 7:39:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[SPInsertarPE]
    @IdEntregable INT, 
    @IdProducto INT,
    @FechaAsociacion DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @existe INT;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Verificar si ya existe la relación
        SELECT @existe = COUNT(*) 
        FROM Producto_Entregable
        WHERE IdEntregable = @IdEntregable
          AND IdProducto = @IdProducto;
        
        IF @existe > 0
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 0 AS Resultado, 'La relación Entregable-Producto ya existe' AS Mensaje;
            RETURN;
        END
        
        -- Insertar la nueva relación
        INSERT INTO Producto_Entregable(IdEntregable, IdProducto, FechaAsociacion)
        VALUES (@IdEntregable, @IdProducto, @FechaAsociacion);
        
        COMMIT TRANSACTION;
        
        SELECT 1 AS Resultado, 
               'Relación Entregable-Producto insertada correctamente' AS Mensaje;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SELECT 0 AS Resultado, 
               'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END