USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[SPProyectoGuardar]    Script Date: 31/10/2025 7:40:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[SPProyectoGuardar]
    @Id INT = NULL,
    @IdProyectoPadre INT = NULL,
    @IdResponsable INT,
    @TipoProyecto NVARCHAR(150),
    @Codigo NVARCHAR(50),
    @Titulo NVARCHAR(255),
    @Descripcion NVARCHAR(MAX) = NULL,
    @FechaInicio DATE = NULL,
    @FechaFinPrevista DATE = NULL,
    @RutaLogo NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @existe INT, @IdTipoProyecto INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Obtener tipo
        SELECT @IdTipoProyecto = Id FROM TipoProyecto WHERE Nombre = @TipoProyecto;

        IF @IdTipoProyecto IS NULL
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT -1 AS Id, 'El tipo de proyecto no existe' AS Mensaje;
            RETURN;
        END;

        -- Validar responsable
        IF NOT EXISTS (SELECT 1 FROM Responsable WHERE Id = @IdResponsable)
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT -1 AS Id, 'El responsable no existe' AS Mensaje;
            RETURN;
        END;

        -- Si no tiene ID válido → insertar
        IF @Id IS NULL OR @Id = 0
        BEGIN
            IF EXISTS (SELECT 1 FROM Proyecto WHERE Codigo = @Codigo)
            BEGIN
                ROLLBACK TRANSACTION;
                SELECT -1 AS Id, 'Ya existe un proyecto con ese código' AS Mensaje;
                RETURN;
            END;

            INSERT INTO Proyecto (
                IdProyectoPadre, IdResponsable, IdTipoProyecto,
                Codigo, Titulo, Descripcion,
                FechaInicio, FechaFinPrevista,
                FechaModificacion, RutaLogo
            )
            VALUES (
                @IdProyectoPadre, @IdResponsable, @IdTipoProyecto,
                @Codigo, @Titulo, @Descripcion,
                @FechaInicio, @FechaFinPrevista,
                GETDATE(), @RutaLogo
            );

            DECLARE @IdNuevo INT = SCOPE_IDENTITY();

            COMMIT TRANSACTION;
            SELECT @IdNuevo AS Id, 'Proyecto insertado correctamente' AS Mensaje;
        END
        ELSE
        BEGIN
            PRINT '🟢 Entrando a UPDATE con ID=' + CAST(@Id AS NVARCHAR(10));

            IF NOT EXISTS (SELECT 1 FROM Proyecto WHERE Id = @Id)
            BEGIN
                ROLLBACK TRANSACTION;
                SELECT -1 AS Id, 'El proyecto no existe' AS Mensaje;
                RETURN;
            END;

            IF EXISTS (SELECT 1 FROM Proyecto WHERE Codigo = @Codigo AND Id != @Id)
            BEGIN
                ROLLBACK TRANSACTION;
                SELECT -1 AS Id, 'Ya existe otro proyecto con ese código' AS Mensaje;
                RETURN;
            END;

            UPDATE Proyecto
            SET 
                IdProyectoPadre = @IdProyectoPadre,
                IdResponsable = @IdResponsable,
                IdTipoProyecto = @IdTipoProyecto,
                Codigo = @Codigo,
                Titulo = @Titulo,
                Descripcion = @Descripcion,
                FechaInicio = @FechaInicio,
                FechaFinPrevista = @FechaFinPrevista,
                FechaModificacion = GETDATE(),
                RutaLogo = @RutaLogo
            WHERE Id = @Id;

            COMMIT TRANSACTION;
            SELECT @Id AS Id, 'Proyecto actualizado correctamente' AS Mensaje;
        END;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT -1 AS Id, 'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END;
