USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[SPProductoObtener]    Script Date: 31/10/2025 7:40:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[SPProductoObtener]
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SELECT 
		    p.Id,
            P.Codigo,
            P.Titulo,
            P.Descripcion,
            P.FechaInicio,
            P.FechaFinPrevista,
            P.FechaFinalizacion,
            TP.Nombre AS TipoProducto,
            TP.Descripcion AS DescripcionTipoProducto
        FROM Producto AS P
        INNER JOIN TipoProducto AS TP 
            ON P.IdTipoProducto = TP.Id
        ORDER BY P.FechaInicio DESC, P.Titulo;
        
        RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN -1;
    END CATCH
END;
