USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[SPProdEntreObtener]    Script Date: 31/10/2025 7:39:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER    PROC [dbo].[SPProdEntreObtener]
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
    SELECT
    PE.IdEntregable,
    PE.IdProducto,
    E.Codigo AS EntregableCodigo,
    E.Titulo AS EntregableTitulo,
    PR.Codigo AS ProductoCodigo,
    PR.Titulo AS ProductoTitulo,
    PE.FechaAsociacion
FROM Producto_Entregable as PE
JOIN Entregable E ON E.Id = PE.IdEntregable
JOIN Producto PR ON PR.Id = PE.IdProducto;

        
        RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN -1;
    END CATCH
END;