USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[SPProdProyObtener]    Script Date: 31/10/2025 7:39:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[SPProdProyObtener]
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
    SELECT
    PP.IdProyecto,
    PP.IdProducto,
    P.Codigo AS ProyectoCodigo,
    P.Titulo AS ProyectoTitulo,
    PR.Codigo AS ProductoCodigo,
    PR.Titulo AS ProductoTitulo,
    PP.FechaAsociacion
FROM Proyecto_Producto PP
JOIN Proyecto P ON P.Id = PP.IdProyecto
JOIN Producto PR ON PR.Id = PP.IdProducto;

        
        RETURN 0;
    END TRY
    BEGIN CATCH
        RETURN -1;
    END CATCH
END;