USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[SPProductoGuardar]    Script Date: 31/10/2025 7:39:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[SPProductoGuardar]
    @Id INT = NULL,
    @TipoProducto NVARCHAR(150),
    @Codigo NVARCHAR(50),
    @Titulo NVARCHAR(255),
    @Descripcion NVARCHAR(MAX) = NULL,
    @FechaInicio DATE = NULL,
    @FechaFinPrevista DATE = NULL,
    @RutaLogo NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @existe INT;
    DECLARE @IdTipoProducto INT;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Obtener el ID del Tipo de Producto
        SELECT @IdTipoProducto = Id 
        FROM TipoProducto 
        WHERE Nombre = @TipoProducto;
        
        -- Validar que existe el tipo de producto
        IF @IdTipoProducto IS NULL
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT -1 AS Id, 'El tipo de producto no existe' AS Mensaje;
            RETURN;
        END
        
        -- Verificar si es INSERT o UPDATE
        IF @Id IS NULL OR @Id = 0
        BEGIN
            -- Verificar si ya existe un producto con el mismo código
            SELECT @existe = COUNT(*) 
            FROM Producto 
            WHERE Codigo = @Codigo;
            
            IF @existe > 0
            BEGIN
                ROLLBACK TRANSACTION;
                SELECT -1 AS Id, 'Ya existe un producto con ese código' AS Mensaje;
                RETURN;
            END
            
            -- INSERT - Crear nuevo producto
            INSERT INTO Producto (
                IdTipoProducto,
                Codigo,
                Titulo,
                Descripcion,
                FechaInicio,
                FechaFinPrevista,
                FechaModificacion,
                RutaLogo
            )
            VALUES (
                @IdTipoProducto,
                @Codigo,
                @Titulo,
                @Descripcion,
                @FechaInicio,
                @FechaFinPrevista,
                GETDATE(),
                @RutaLogo
            );
            
            DECLARE @IdNuevo INT = SCOPE_IDENTITY();
            
            COMMIT TRANSACTION;
            
            SELECT 
                @IdNuevo AS Id, 
                'Producto insertado correctamente' AS Mensaje;
        END
        ELSE
        BEGIN
            -- Verificar que el producto existe
            SELECT @existe = COUNT(*) 
            FROM Producto 
            WHERE Id = @Id;
            
            IF @existe = 0
            BEGIN
                ROLLBACK TRANSACTION;
                SELECT -1 AS Id, 'El producto no existe' AS Mensaje;
                RETURN;
            END
            
            -- Verificar que no haya otro producto con el mismo código (excepto el actual)
            SELECT @existe = COUNT(*) 
            FROM Producto 
            WHERE Codigo = @Codigo AND Id != @Id;
            
            IF @existe > 0
            BEGIN
                ROLLBACK TRANSACTION;
                SELECT -1 AS Id, 'Ya existe otro producto con ese código' AS Mensaje;
                RETURN;
            END
            
            -- UPDATE - Actualizar producto existente
            UPDATE Producto
            SET 
                IdTipoProducto = @IdTipoProducto,
                Codigo = @Codigo,
                Titulo = @Titulo,
                Descripcion = @Descripcion,
                FechaInicio = @FechaInicio,
                FechaFinPrevista = @FechaFinPrevista,
                FechaModificacion = GETDATE(),
                RutaLogo = @RutaLogo
            WHERE Id = @Id;
            
            COMMIT TRANSACTION;
            
            SELECT 
                @Id AS Id, 
                'Producto actualizado correctamente' AS Mensaje;
        END
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        SELECT 
            -1 AS Id, 
            'Error: ' + ERROR_MESSAGE() AS Mensaje;
    END CATCH
END;