USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[SPProyectosTRDetalle]    Script Date: 31/10/2025 7:40:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   proc [dbo].[SPProyectosTRDetalle]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- ===========================================
        -- Validar si existen registros en Responsable
        -- ===========================================
        IF NOT EXISTS (SELECT 1 FROM Proyecto)
        BEGIN
            RAISERROR('No existen Proyectos registrados en el sistema.', 16, 1);
            RETURN -1;
        END

        -- ===========================================
        -- Consulta principal con detalle del tipo
        -- ===========================================
        SELECT 
	p.Id,
    P.Codigo,
    P.Titulo,
    P.Descripcion,
    P.FechaInicio,
    P.FechaFinPrevista,
	p.FechaFinalizacion,
    -- Datos del Responsable
    R.Nombre AS Responsable,
    -- Datos del Tipo de Proyecto
    TP.Nombre AS TipoProyecto,
    TP.Descripcion AS DescripcionTipoProyecto,
    -- Datos del Proyecto Padre (si existe)
    PP.Titulo AS ProyectoPadre,
    PP.Codigo AS CodigoProyectoPadre,
	es.Nombre AS Estado,
	es.Descripcion AS DescripcionEstado
FROM Proyecto AS P
INNER JOIN Responsable AS R 
    ON P.IdResponsable = R.Id
INNER JOIN TipoProyecto AS TP 
    ON P.IdTipoProyecto = TP.Id
LEFT JOIN Proyecto AS PP 
    ON P.IdProyectoPadre = PP.Id
join Estado_Proyecto as EP
    ON p.Id = EP.IdProyecto
join Estado AS ES
   ON EP.IdEstado = ES.Id
ORDER BY P.FechaInicio DESC, P.Titulo;

        RETURN 0; -- Éxito

    END TRY
    BEGIN CATCH
        -- ===========================================
        -- Manejo de errores
        -- ===========================================
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR('Error al obtener los Proyectos: %s', @ErrorSeverity, @ErrorState, @ErrorMessage);
        RETURN -2;
    END CATCH
	END;