USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[SPResponsableGuardar]    Script Date: 31/10/2025 7:40:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SPResponsableGuardar]
    @nombre NVARCHAR(200),
    @TipoResponsable nvarchar(200),
    @idUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @existe INT;

    SELECT @existe = COUNT(*) FROM Responsable WHERE IdUsuario = @idUsuario;

    IF @existe = 0
    BEGIN
        -- Si no existe, se inserta
        INSERT INTO Responsable (Nombre, IdTipoResponsable, IdUsuario)
        VALUES (@nombre, (select Id from  TipoResponsable where TipoResponsable.Titulo = @TipoResponsable), @idUsuario);

        SELECT SCOPE_IDENTITY() AS IdNuevo, 'Responsable insertado correctamente' AS Mensaje;
    END
    ELSE
    BEGIN
        -- Si ya existe, se actualiza
        UPDATE Responsable
        SET Nombre = @nombre,
            IdTipoResponsable = (select Id from TipoResponsable WHERE Titulo = @TipoResponsable)
        WHERE IdUsuario = @idUsuario;

        SELECT @idUsuario AS IdUsuario, 'Responsable actualizado correctamente' AS Mensaje;
    END
END