USE [Proyectos]
GO
/****** Object:  StoredProcedure [dbo].[SPResponsableTDetalle]    Script Date: 31/10/2025 7:40:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[SPResponsableTDetalle]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- ===========================================
        -- Validar si existen registros en Responsable
        -- ===========================================
        IF NOT EXISTS (SELECT 1 FROM Responsable)
        BEGIN
            RAISERROR('No existen responsables registrados en el sistema.', 16, 1);
            RETURN -1;
        END

        -- ===========================================
        -- Consulta principal con detalle del tipo
        -- ===========================================
        SELECT 
            Re.Nombre AS NombreResponsable,
			Re.IdUsuario AS IDUsuario,
            TR.Titulo AS TipoResponsable,
            TR.Descripcion AS DescripcionTipo
        FROM Responsable AS Re
        INNER JOIN TipoResponsable AS TR 
            ON Re.IdTipoResponsable = TR.Id
        ORDER BY Re.Nombre;

        RETURN 0; -- Éxito

    END TRY
    BEGIN CATCH
        -- ===========================================
        -- Manejo de errores
        -- ===========================================
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR('Error al obtener los responsables: %s', @ErrorSeverity, @ErrorState, @ErrorMessage);
        RETURN -2;
    END CATCH
END;
