@inherits LayoutComponentBase

<div class="login-layout">
    @Body
</div>

<style>
    .login-layout {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(135deg, #5b50e6, #8a59d5, #c65ac0);
    }
</style>